:root {
--cor-de-fundo:#1e1e1e;
--verde:#230b36; 
--branco:#ffffff;
--botao-ativo:#3a365e;
--botao-inativo:#19192e;
--texto-fundo:#ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto-fundo);
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo-principal{
    display: column; 
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.botao{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}